<div class="mt-4">
    <h1>Create reservation</h1>
    <form method="POST" action="/reservation/store">
        <div class="mb-3">
            <label for="idReservation" class="form-label">ID reservation</label>
            <input type="input" class="form-control" id="idReservation" name="idReservation" value="{{room.roomNumber}}">
        </div>
        <div class="mb-3">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <input type="input" class="form-control" id="phoneNumber" name="phoneNumber" value="">
        </div>
        <div class="mb-3">
            <label for="roomNumber" class="form-label">Room Number</label>
            <input type="input" class="form-control" id="roomNumber" name="roomNumber" value="{{room.roomNumber}}">
        </div>
        <div class="mb-3">
          <label for="roomNumber" class="form-label">Total price <i>(included VAT)</i></label>
          <input type="input" class="form-control" id="cost" value="{{room.cost}}$" style="color: #131859;font-weight: bold;">
        </div>
        <button type="submit" class="btn btn-primary">BOOK</button>
    </form>
</div>
<div class="image_detail">
  <img class="img_detail" src="{{room.image}}" alt="">
</div>


<style>
  .image_detail {
    width: 40vw;
    height: 50vh;
    position: fixed;
    top: 34.5%;
    right: 5%;
    
  }
  .img_detail{
    width: 40vw;
    height: 50vh;
    border-radius: 10px;
    
  }
</style>


